<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/user/all">Users - View All</a>
    <br />
    <a href="/publisher/all">Publishers - View All</a>
    <br />
    <a href="/developer/all">Developers - View All</a>
    <br />
    <a href="/videogame/all">Video Games - View All</a>
    <br />
    <a href="/dlc/all">Downloadable Content - View All</a>
    <br />
    <a href="/about">About</a>

<%- include("./includes/footer.ejs"); %>
