<%- include("../includes/header.ejs", {title:"Developers"}); %>

<h1>Developers With A Rating Higher Than <%= avg %></h1>

<br />

<table border="1">
    <tr><th>Developers</th><th>Average Rating Per Game</th></tr>
    <% for(var i=0; dev.length > i; i++ ) { %>
    <tr>
        <td><a href="/developer/?dev_id=<%= dev[i].dev_id %>"><%= dev[i].dev_name %></a></td>
        <td><%= dev[i].avg %></td>
    </tr>
    <% } %>
</table>

<br />



<a href="/developer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>