<%- include("../includes/header.ejs", {title: "Update " + dev.dev_name}); %>

<h1>Update <%= dev.dev_name%></h1>
<form action="/developer/update" method="get">
    <input type="hidden" id="dev_id" name="dev_id" value="<%= dev.dev_id %>">
    Developer: <input id="dev_name" name="dev_name" type="text" value="<%= dev.dev_name%>"/>
    <br />
    Type:  <input id="type" name="type" type="text" value="<%= dev.type%>" />
   Status: <input id="status" name="status" type="text" value="<%= dev.status%>" />
    <br />
    City:  <input id="city" name="city" type="text" value="<%= dev.city%>" />
    State/Country: <input id="state_country" name="state_country" type="text" value="<%= dev.state_country%>" />
    <br />

    <br />
    <input type="submit" />

</form>

<br />
<a href="/developer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>