<%- include("../includes/header.ejs", {title:"Developers - View All"}); %>

<h1>Developers</h1>
<a href="/developer/add">Add New developer</a> <br />

<br />

<form action="/developer/search" method="get">
    Search for developers that produce high rated games on average: (Note games are scored
    from 0 to 100)
    <br />
    <input id="dev_avg" name="dev_avg" type="number"/>
    <br />

    <br />
    <input type="submit" />

</form>

<br />
<br />

<table border="1">
    <tr><th>Developers</th><th>Actions</th></tr>
    <% for(var i=0; dev.length > i; i++ ) { %>
    <tr>
        <td><a href="/developer/?dev_id=<%= dev[i].dev_id %>"><%= dev[i].dev_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/developer/edit/?dev_id=<%= dev[i].dev_id %>'">Edit</button>
            <form action="/developer/delete/" style="display:inline;">
                <input type="hidden" name="dev_id" id="dev_id" value="<%= dev[i].dev_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />



<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>