<%- include("../includes/header.ejs", {title:"Account - " + user.email}); %>
<h1>Account</h1>
<ul>
    <li>Account Email: <%= user.email %></li>
    <li>First Name: <%= user.first_name %></li>
    <li>Last Name: <%= user.last_name %></li>
</ul>

<br />
<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>