<%- include("../includes/header.ejs", {title:"Add New User"}); %>
<h1>Add New User</h1>
<form action="/user/insert" method="get">
    Email: <input id="email" name="email" type="text" />
    <br />
    First Name:  <input id="first_name" name="first_name" type="text" />
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br />
    Video Games
    <br />
    <select id="vg_id" name="vg_id" multiple="multiple">
        <% for(var i=0; vg.length > i; i++ ) { %>
        <option value="<%= vg[i].vg_id %>"><%= vg[i].vg_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#vg_id').multiselect();
        });
    </script>
    <br />
    <br />
    <input type="submit" />

</form>

<br />
<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>