<%- include("../includes/header.ejs", {title:"Account - " + vg.vg_name}); %>
<h1><%= vg.vg_name %></h1>
<ul>
    <li>Date Purchased: <%= vg.date_purchased %></li>
    <li>Last Played: <%= vg.last_played %></li>
    <li>Total Play Time: <%= vg.play_time %> hrs</li>
    <li>Your Rating: <%= vg.user_rating %></li>
</ul>

<br />
<a href="/user/library?user_id=<%= vg.user_id %>"><< back</a>

<%- include("../includes/footer.ejs"); %>