<%- include("../includes/header.ejs", {title:"Library of " + vg[0].first_name}); %>

<h1>Library of <%=vg[0].first_name%></h1>

<br />

<table border="1">
    <tr><th>Video Games</th><th>Actions</th></tr>
    <% for(var i=0; vg.length > i; i++ ) { %>
    <tr>
        <td><a href="/user/library/videogame?user_id=<%= vg[i].user_id %>&vg_id=<%= vg[i].vg_id %>"><%= vg[i].vg_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/user/library/edit/?user_id=<%= vg[i].user_id %>&vg_id=<%= vg[i].vg_id %>'">Edit</button>
        </td>
    </tr>
    <% } %>
</table>

<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>