<%- include("../includes/header.ejs", {title:"User - View All"}); %>

<h1>Users</h1>
<a href="/user/add">Add New User</a> <br />

<br />

<table border="1">
    <tr><th>Emails</th><th>Video Game Library</th><th>Actions</th></tr>
    <% for(var i=0; user.length > i; i++ ) { %>
    <tr>
        <td><a href="/user/?user_id=<%= user[i].user_id %>"><%= user[i].email %></a></td>
        <td><a href="/user/library?user_id=<%= user[i].user_id %>"><%= user[i].first_name +"'s Library" %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/user/edit/?user_id=<%= user[i].user_id %>'">Edit</button>
            <form action="/user/delete/" style="display:inline;">
                <input type="hidden" name="user_id" id="user_id" value="<%= user[i].user_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>