<%- include("../includes/header.ejs", {title: "Update " + vg.vg_name}); %>

<h1>Update Information For <%= vg.vg_name%></h1>
<form action="/user/library/update" method="get">
    <input type="hidden" id="user_id" name="user_id" value="<%= vg.user_id %>">
    <input type="hidden" id="vg_id" name="vg_id" value="<%= vg.vg_id %>">
    Date Purchased: <input id="date_purchased" name="date_purchased" type="date" value="<%= vg.date_purchased%>"/>
    <br />
    Last Played:  <input id="last_played" name="last_played" type="date" value="<%= vg.last_played%>" />
    <br />
    Total Play Time: <input id="play_time" name="play_time" type="number" value="<%= vg.play_time%>" />
    Your Rating: <input id="user_rating" name="user_rating" type="number" value="<%= vg.user_rating%>" />
    <br />
    <br />

    <input type="submit" />

</form>

<br />
<a href="/user/library?user_id=<%= vg.user_id %>"><< back</a>

<%- include("../includes/footer.ejs"); %>

</html>