<%- include("../includes/header.ejs", {title:"Add New Downloadable Content"}); %>
    <h1>Add New Downloadable Content</h1>
    <form action="/dlc/insert" method="post">
        <input type="hidden" id="vg_id" name="vg_id" value="<%= vg %>">
        DLC Name: <input id="dlc_name" name="dlc_name" type="text" />
        <br />
        DLC Release Date: <input id="date_released" name="date_released" type="date" />
        <br />
        DLC Score: <input id="rating" name="rating" type="number" />
        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>