<%- include("../includes/header.ejs", {title:"Select a Video Game"}); %>
    <h1>Select A Video Game</h1>
    <form action="/dlc/add" method="get">
        Video Games
        <br />
        <select id="vg_id" name="vg_id">
            <% for(var i=0; vg.length > i; i++ ) { %>
                <option value="<%= vg[i].vg_id %>"><%= vg[i].vg_name %></option>
            <% } %>
        </select>

        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>