<%- include("../includes/header.ejs", {title: "Update " + dlc.dlc_name}); %>

<h1>Update <%= dlc.dlc_name%></h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= dlc.dlc_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/dlc/update" method="get">
    <input type="hidden" id="dlc_id" name="dlc_id" value="<%= dlc.dlc_id %>">
    DLC Name: <input id="dlc_name" name="dlc_name" type="text" value="<%= dlc.dlc_name%>"/>
    <br />
    DLC Release Date: <input id="date_released" name="date_released" type="date" value="<%= dlc.date_released%>"/>
    <br />
    DLC Score: <input id="rating" name="rating" type="number" value="<%= dlc.rating%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<br />
<a href="/dlc/all"><-- Return To DLC's</a>

<%- include("../includes/footer.ejs"); %>

</html>