<%- include("../includes/header.ejs", {title:"Downloadable Content - View All"}); %>

<h1>Downloadable Content</h1>
        <a href="/dlc/add/selectvg">Add New Downloadable Content</a> <br />

        <br />

        <table border="1">
            <tr><th>Downloadable Content</th><th>Video Game Name</th><th>Actions</th></tr>
            <% for(var i=0; dlc.length > i; i++ ) { %>
            <tr>
                <td><a href="/dlc/?dlc_id=<%= dlc[i].dlc_id %>"><%= dlc[i].dlc_name %></a></td>
                <td><%= dlc[i].vg_name %></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/dlc/edit/?dlc_id=<%= dlc[i].dlc_id %>'">Edit</button>
                    <form action="/dlc/delete/" style="display:inline;">
                        <input type="hidden" name="dlc_id" id="dlc_id" value="<%= dlc[i].dlc_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>

<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>