<%- include("../includes/header.ejs", {title:"Companies - " + dlc[0].dlc_name}); %>
    <h1>Downloadable Content</h1>
    <ul>
        <li>DLC Name: <%= dlc[0].dlc_name %></li>
        <li>DLC Release Date: <%= dlc[0].date_released %></li>
        <li>DLC Score: <%= dlc[0].rating %></li>
    </ul>

<a href="/dlc/all"><< back</a>

<%- include("../includes/footer.ejs"); %>