<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>About The Video Game Database</h1>
<ul>The purpose of this web site is to keep track of video games that
    have been released. It will allow users to keep these video games in a library
    that store necessary information that may be important to the user. Each video
    game have at least one developer and publisher, and might have downloadable
    content (DLC) attached to the game. Through this web site, new developers can
    be added along with new publishers. Once the publishers and developers have been
    added you would be able to add games made by them. A user can create a library of
    games and keep track a varies info about their play time with said game. Overall
    this website is for people who want to know about games and keep track of the games
    they own.
    <br />
    <br />
    Background: Stationed in Napa,CA. Maker of the Video Game Database. PC Gamer.
    Just a simple college student.
</ul>

    <a href="/about/erd">ER Diagram</a>
    <br />
    <a href="/about/relateSchema">Relational Schema</a>

<br />
<br />

<a href="/"><< back</a>

<br />

<%- include("../includes/footer.ejs"); %>