<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>ER Diagram for my Video Game Database</h1>
<br />
<img src="/images/ERD.jpg" />

<br />

<a href="/about"><< back</a>

<br />

<%- include("../includes/footer.ejs"); %>