<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>Relational Schema for my Video Game Database</h1>
<br />
<img src="/images/VG_Relational_Schema.jpg" />

<br />

<a href="/about"><< back</a>

<br />

<%- include("../includes/footer.ejs"); %>