<%- include("../includes/header.ejs", {title:"Video Game - " + vg.vg_name}); %>
<h1>Video Game</h1>
<ul>
    <li>Video Game Title: <%= vg.vg_name %></li>
    <li>Release Date <%= vg.date_released %></li>
    <li>Score: <%= vg.rating %></li>
    <li>ESRB Rating: <%= vg.ESRB %></li>
    <li>Platform(s): <%= vg.platform %></li>

        <li>Developer(s):
            <ul>
                <% for(var i=0; dev.length > i; i++ ) { %>
                <li><%= dev[i].dev_name%></li>
                <% } %>
            </ul>
        </li>
    <li>Publisher(s):
        <ul>
            <% for(var i=0; pub.length > i; i++ ) { %>
            <li><%= pub[i].pub_name%></li>
            <% } %>
        </ul>
        </li>

</ul>

<a href="/videogame/all"><< back</a>

<%- include("../includes/footer.ejs"); %>