<%- include("../includes/header.ejs", {title:"Top Ten Video Games"}); %>

<h1>Top Ten Video Games</h1>
<br />

<table border="1">
    <tr><th>Video Game Titles</th><th>Rating</th></tr>
    <% for(var i=0; vg.length > i; i++ ) { %>
    <tr>
        <td><a href="/videogame/?vg_id=<%= vg[i].vg_id %>"><%= vg[i].vg_name %></a></td>
        <td><%= vg[i].rating %></td>
    </tr>
    <% } %>
</table>

<br />
<br />
<a href="/videogame/all"><< back</a>

<%- include("../includes/footer.ejs"); %>