<%- include("../includes/header.ejs", {title:"Publisher - " + pub.pub_name}); %>
<h1>Publisher</h1>
<ul>
    <li>Publisher: <%= pub.pub_name %></li>
    <li>City: <%= pub.city %></li>
    <li>State/Country: <%= pub.state_country %></li>
</ul>

<br />
<a href="/publisher/all"><< back</a>

<%- include("../includes/footer.ejs"); %>